<div class="welcome-wrapper">
    <header>
      <h1>Welcome, {{ username }} 🎉</h1>
      <button (click)="apiCall()">Api Call</button>
      <button (click)="logout()">Logout</button>
    </header>
  
    <section class="content">
      <div class="joke">
        <h2>😄 Chuck Norris Joke</h2>
        <p>Chuck Norris doesn’t read books. He stares them down until he gets the information he wants.</p>
      </div>
  
      <div class="joke">
        <h2>😄 Chuck Norris Joke</h2>
        <p>Chuck Norris doesn’t read books. He stares them down until he gets the information he wants.</p>
      </div>
  
      <div class="joke">
        <h2>😄 Chuck Norris Joke</h2>
        <p>Chuck Norris doesn’t read books. He stares them down until he gets the information he wants.</p>
      </div>
  
      <div class="joke">
        <h2>😄 Chuck Norris Joke</h2>
        <p>Chuck Norris doesn’t read books. He stares them down until he gets the information he wants.</p>
      </div>
  
      <div class="joke">
        <h2>😄 Chuck Norris Joke</h2>
        <p>Chuck Norris doesn’t read books. He stares them down until he gets the information he wants.</p>
      </div>

  
      <div class="quote">
        <h2>🌟 Quote of the Moment</h2>
        <blockquote>
          "Be yourself; everyone else is already taken." – Oscar Wilde
        </blockquote>
      </div>
    </section>
  </div>
  