* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $bg-color;
}

h1,
h2,
h3 {
    color: $text-color;
}

button {
    cursor: pointer;
    font-family: inherit;
}